@import '../fonts/fonts';
@import './auth';


.link {
    color: rgb(124, 155, 255);
    cursor: pointer;
    font-style: italic;
    text-decoration: underline;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;

    &:hover {
        color: rgb(176, 107, 255);
    }
}

.btn {
    padding: 10px 15px;
    min-width: 130px;
    background: #000;
    border: 1px solid rgb(124, 155, 255);
    color: rgb(124, 155, 255);
    font-family: inherit;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        border: 1px solid rgb(176, 107, 255);
        color: rgb(176, 107, 255);
    }

    &.error {
        border: 1px solid rgb(255, 124, 124);
        color: rgb(255, 124, 124);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#app {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg,
            rgb(28, 0, 94) 0%,
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 1) 100%);
    height: 100%;
    font-family: "bBuruhNgepath";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #bbb;
}

.neone-text {
    font-family: "Permanent Marker";
    font-size: 60px;
    position: relative;
    margin: auto;
    display: inline-flex;

    &__txt {
        color: #fff;
        padding: 10px;
        // text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #5271ff,
        //   0 0 82px #5271ff, 0 0 92px #5271ff, 0 0 102px #5271ff, 0 0 151px #5271ff;
    }

    &__shadow {
        color: #fff;
        position: absolute;
        top: 10px;
        left: 10px;
        mix-blend-mode: difference;
        filter: blur(1px);
    }

    &__gradient {
        // background: linear-gradient(90deg,
        //         rgba(201, 21, 173, 1) 0%,
        //         rgba(15, 1, 171, 1) 60%,
        //         rgba(30, 155, 185, 1) 100%);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
        mix-blend-mode: color;
        animation: changeBg infinite 1s linear;
    }
}


@keyframes changeBg {

    0%,
    100% {
        background: linear-gradient(90deg,
                rgb(201, 21, 171) 0%,
                rgb(19, 1, 207) 50%,
                rgb(30, 155, 185) 100%);
    }

    50% {
        background: linear-gradient(90deg,
                rgb(210, 30, 180) 0%,
                rgb(28, 10, 216) 50%,
                rgb(39, 164, 194) 100%);
    }
}

.neone-text_addition {
    position: absolute;
    left: 71%;
    top: 74%;
    transform: rotate(-16deg);
    font-size: 25px;
    white-space: nowrap;
    background-color: #000;
    border: 1px solid #000;
}