@import '../fonts/fonts';
@import './auth';


.link {
    color: rgb(124, 155, 255);
    cursor: pointer;
    font-style: italic;
    text-decoration: underline;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;

    &:hover {
        color: rgb(176, 107, 255);
    }
}

.btn {
    padding: 10px 15px;
    background: #000;
    border: 1px solid rgb(124, 155, 255);
    color: rgb(124, 155, 255);
    font-family: inherit;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        border: 1px solid rgb(176, 107, 255);
        color: rgb(176, 107, 255);
    }

    &.error {
        border: 1px solid rgb(255, 124, 124);
        color: rgb(255, 124, 124);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#app {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg,
            rgb(28, 0, 94) 0%,
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 1) 100%);
    height: 100%;
    font-family: "bBuruhNgepath";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #bbb;
}