@font-face {
    font-family: "Permanent Marker";
    src: url("../fonts/PermanentMarker-Regular.eot");
    src: url("../fonts/PermanentMarker-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/PermanentMarker-Regular.woff2") format("woff2"),
        url("../fonts/PermanentMarker-Regular.woff") format("woff"),
        url("../fonts/PermanentMarker-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "bBuruhNgepath";
    src: url("../fonts/bBuruhNgepath.eot");
    src: url("../fonts/bBuruhNgepath.eot?#iefix") format("embedded-opentype"),
        url("../fonts/bBuruhNgepath.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}